              <div class="col-md-4 bottommargin">

                <div class="team">
                  <div class="team-image">
                    <!-- <img src="images/team/3.jpg" alt="Mary Jane"> -->
                    <%= image_tag "team-3.jpg", alt: "Mary Jane" %>
                    <div class="team-overlay">
                      <div class="team-social-icons">
                        <a href="#" class="social-icon si-borderless si-small si-twitter" title="Twitter">
                          <i class="icon-twitter"></i>
                          <i class="icon-twitter"></i>
                        </a>
                        <a href="#" class="social-icon si-borderless si-small si-vimeo" title="Vimeo">
                          <i class="icon-vimeo"></i>
                          <i class="icon-vimeo"></i>
                        </a>
                        <a href="#" class="social-icon si-borderless si-small si-instagram" title="Instagram">
                          <i class="icon-instagram"></i>
                          <i class="icon-instagram"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="team-desc team-desc-bg">
                    <div class="team-title"><h4>Josh Clark</h4><span>Sales</span></div>
                  </div>
                </div>

              </div>
