          <!-- Primary Navigation
          ============================================= -->
          <nav id="primary-menu">

            <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
              <li><a href="#" data-href="#wrapper"><div>Home</div></a></li>
              <li><a href="#" data-href="#section-about"><div>About</div></a></li>
              <li><a href="#" data-href="#section-works"><div>Works</div></a></li>
              <li><a href="#" data-href="#section-services"><div>Services</div></a></li>
              <li><a href="#" data-href="#section-blog"><div>Blog</div></a></li>
              <li><a href="#" data-href="#section-contact"><div>Contact</div></a></li>
            </ul>

            <div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i class="icon-reorder"></i></a></div>

          </nav><!-- #primary-menu end -->
