<div class="list-group left-pad right-pad">
    <%= sanitize "#{component.description}" %>

    <!-- <p class="preserve-line-breaks"><%#= "#{component.description}" %></p> -->
    <!-- https://stackoverflow.com/questions/30593103/preserve-line-breaks-in-textarea -->
</div>