

        <!-- start video style section -->
        <section class="parallax wow fadeIn" data-stellar-background-ratio="0.1" style="background-image:url('<%= image_path('pofo/parallax-bg6.jpg') %>');">
            <div class="opacity-extra-medium bg-black"></div>
            <div class="container position-relative">
                <div class="row">
                    <div class="col-lg-6 col-md-6 text-center center-col">
                        <!--<a href="https://www.youtube.com/watch?v=Ma_i0JvdNN0" class="popup-youtube">-->
                        <a href="https://www.youtube-nocookie.com/embed/Ma_i0JvdNN0?rel=0" class="popup-youtube">
                        <!--<a href="https://player.vimeo.com/video/75976293" class="popup-vimeo">-->
                          <%= image_tag("pofo/icon-play.png", class: "width-30", alt: "") %>
                        </a>
                        <h5 class="alt-font text-white">Unique. Powerful. Creative.</h5>
                    </div>
                </div>
            </div>
        </section>
        <!-- end video style section -->

Per youtube video mettere "rel=0" disabilita i video suggeriti alla fine, oppure li limita a quelli presi dal tuo canale.
