<%# == Meta_data ============================================================ %>

<% provide :javascript_side_navigation do %>
  <!-- Javascript per side_navigation -->
	<script>
	$(function() {
		$( "#side-navigation" ).tabs({ show: { effect: "fade", duration: 400 } });
	});
	</script>
<% end %>

<%# == Meta_data - end ====================================================== %>


<div id="side-navigation">

	<div class="col_one_third nobottommargin">

		<ul class="sidenav">
		    <!--<li class="ui-tabs-active"><a href="#snav-content1"><i class="icon-circle"></i>Rinforza la tua struttura psicologica<i class="icon-chevron-right"></i></a></li>-->
			<li><a href="#snav-content2"><i class="icon-circle"></i>Prendi confidenza verso la vita<i class="icon-chevron-right"></i></a></li>
			<li><a href="#snav-content1"><i class="icon-circle"></i>Rinforza la tua struttura psicologica<i class="icon-chevron-right"></i></a></li>
			<li><a href="#snav-content3"><i class="icon-circle"></i>Semplice<i class="icon-chevron-right"></i></a></li>
			<li><a href="#snav-content4"><i class="icon-circle"></i>Risparmia un monte di denaro<i class="icon-chevron-right"></i></a></li>
			<li><a href="#snav-content5"><i class="icon-circle"></i>Progettato per persone super occupate.<i class="icon-chevron-right"></i></a></li>
		</ul>

	</div>

	<div class="col_two_third col_last nobottommargin">

		<div id="snav-content1">
			<div class="heading-block">
				<h3>Rinforza la tua struttura psicologica</h3>
				<span>We support multiple Devices &amp; Layouts.</span>
			</div>
			<!-- <img src="images/others/mac-phone.png" alt="Image" class="alignleft" style="max-width: 320px;"> -->
			<%= image_tag "mac-phone.png", alt: "Image", class: "alignleft", style: "max-width: 320px;" %>
			<p>Noi apprendiamo nuovi atteggiamenti un’esperienza alla volta. Esempio dopo esempio, comportamento dopo comportamento. Tu inizierai la tua propria formazione con le tue stesse esperienze e quelle dei tuoi amici. Da là in avanti, potrai aggiungere molte altre attitudini e comportamenti che troverai nei set di espansione delle carte e potrai tu stesso creare delle nuove carte! Una volta completata la tua formazione iniziale, saprai quali sono i prossimi passi.</p>
			<p>Questo è il primo passo del tuo viaggio. Ispirazione, formazione e tanto divertimento!</p>
			<p>Se la "Classe di difesa contro la magia nera" a Hogwarts ha mai preso la tua immaginazione, allora questo è il posto dove cominciare. Una volta che si è morsi dall’insetto “dell’evoluzione”, niente ti potrà fermare. Le possibilità e le idee creative sono infinite!</p>
		</div>

		<div id="snav-content2">
			<div class="heading-block">
				<h3>Prendi confidenza verso la vita</h3>
				<span>Potenziante.</span>
			</div>
			<p>Il “mondo di 12 anime” ti aiuterà a imparare a prendersi cura di te stesso, della tua famiglia e degli altri. E questo è una sensazione di potere. Quando realizzi qualcosa "mani-in-pasta", non lo dimentichi mai. Sai come applicare la stessa tecnica in altre situazioni. Gestire le emozioni, vedere con nuovi occhi, trovare le energie, prendere decisioni con efficacia  e apprendere a gestire il denaro sono elementi fondamentali per il tuo repertorio. Una volta che questi sono assimilati, è molto più facile apprendere altre nuove attitudini e comportamenti.</p>
		</div>

		<div id="snav-content3">
			<div class="heading-block">
				<h3>Semplice</h3>
				<span>Complicazioni non incluse.</span>
			</div>
			<p>Non c'è bisogno di capire quali comportamenti o attitudini dover implementare, nessuna teoria da studiare o libri da acquistare. Abbiamo fatto tutto il lavoro per te. Il libro incluso e le istruzioni scritte passano attraverso i materiali del gioco, passo dopo passo.</p>
		</div>

		<div id="snav-content4">
			<div class="heading-block">
				<h3>Risparmia un monte di denaro d’ora in poi!</h3>
				<span>Smart Reusable code all throughout the Template for Infinite Customizations.</span>
			</div>
			<p>Se hai mai fatto un corso di formazione sai quanto questi costano e quanto è difficile mantenere gli insegnamenti appresi, o riportarli nella vita di tutti i giorni. (La cultura costa (vedi università) e c’è frase famosa: “Se pensi che l’insegnamento sia caro, vedi quanto ti costa l’ignoranza!”)</p>
			<p>Una volta che apprendi come rendere propri gli insegnamenti, si riesce a rendere veramente efficace l’informazione e far si che la spesa di nuova conoscenza sia un investimento! Non devi pagare corsi di formazione analoghi affinché siano efficaci, l’abilità la acquisisci giocando al “mondo di 12 anime” perché riuserai e farai tua la conoscenza che apprendi anche al di fuori del gioco e questa si arricchirà con le esperienze degli altri giocatori che ti daranno nuove “ancore” per rendere ancora più chiaro e fissare meglio la conoscenza teorica.</p>
		</div>

		<div id="snav-content5">
			<div class="heading-block">
				<h3>Progettato per persone super occupate.</h3>
				<span>Use the dual tone schemes or mix them according to your needs.</span>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium voluptas eveniet, recusandae ducimus commodi, maiores voluptatem consequuntur autem quod id molestiae quam nulla minus aliquam nobis laboriosam nisi ut aut adipisci esse omnis at. Voluptatem, natus distinctio minus possimus, aliquid magnam ratione. Adipisci odit nemo voluptatum quas animi, amet et fuga quisquam possimus, dolore id sint eum consequuntur, magnam aliquid impedit doloremque voluptates, ducimus laboriosam. Sint quisquam molestias libero voluptatum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nisi nemo et esse. Fugiat facere harum, error iusto assumenda illo debitis quas, fugit similique minima.</p>
		</div>

	</div>

</div>
