<!-- start modal pop-up selections-master -->
<div id="modal-popup-selections-master" class="zoom-anim-dialog mfp-hide col-xl-3 col-lg-6 col-md-7 col-11 mx-auto bg-white text-center modal-popup-main padding-50px-all">
  <%= link_to companies_path, class: "btn btn-medium btn-rounded btn-transparent-dark-gray margin-10px-bottom", 'data-wow-delay': "0.6s" do %>
    <%= image_tag "elis/icons/company.png", alt: "company" %> Azienda &nbsp&nbsp&nbsp&nbsp
  <% end %>
  <%# tolgo il secondo pulsante perché siamo già in people %>
  <%#= link_to people_path, class: "btn btn-medium btn-rounded btn-transparent-dark-gray margin-10px-bottom", 'data-wow-delay': "0.6s" do %>
    <%#= image_tag "elis/icons/person.png", alt: "person" %> <!-- Persona &nbsp&nbsp&nbsp&nbsp -->
  <%# end %>
</div>
<!-- end modal pop-up selections-master -->
