              <div class="col-md-4 bottommargin">

                <div class="team">
                  <div class="team-image">
                    <!-- <img src="images/team/2.jpg" alt="Josh Clark"> -->
                    <%= image_tag "team-2.jpg", alt: "Josh Clark" %>
                    <div class="team-overlay">
                      <div class="team-social-icons">
                        <a href="#" class="social-icon si-borderless si-small si-twitter" title="Twitter">
                          <i class="icon-twitter"></i>
                          <i class="icon-twitter"></i>
                        </a>
                        <a href="#" class="social-icon si-borderless si-small si-linkedin" title="LinkedIn">
                          <i class="icon-linkedin"></i>
                          <i class="icon-linkedin"></i>
                        </a>
                        <a href="#" class="social-icon si-borderless si-small si-flickr" title="Flickr">
                          <i class="icon-flickr"></i>
                          <i class="icon-flickr"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="team-desc team-desc-bg">
                    <div class="team-title"><h4>Mary Jane</h4><span>Co-Founder</span></div>
                  </div>
                </div>

              </div>
