              <div class="col-md-4 bottommargin">

                <div class="team">
                  <div class="team-image">
                    <!-- <img src="images/team/1.jpg" alt="John Doe"> -->
                    <%= image_tag "team-1.jpg", alt: "John Doe" %>
                    <div class="team-overlay">
                      <div class="team-social-icons">
                        <a href="#" class="social-icon si-borderless si-small si-facebook" title="Facebook">
                          <i class="icon-facebook"></i>
                          <i class="icon-facebook"></i>
                        </a>
                        <a href="#" class="social-icon si-borderless si-small si-twitter" title="Twitter">
                          <i class="icon-twitter"></i>
                          <i class="icon-twitter"></i>
                        </a>
                        <a href="#" class="social-icon si-borderless si-small si-github" title="Github">
                          <i class="icon-github"></i>
                          <i class="icon-github"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="team-desc team-desc-bg">
                    <div class="team-title"><h4>John Doe</h4><span>CEO</span></div>
                  </div>
                </div>

              </div>
