<h1> <%= t ".first_header" %> </h1>
<p> <%= t ".first_paragraph" %> </p>
<br>
<p>  <%= link_to t(".link_goto_page_B"), example_static_pages_page_b_path %> </p>
<p>  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </p>