<%# == Meta_data ============================================================ %>

<% provide(:html_head_title, t('eg_posts.new.html_head_title')) %>

<%# == Meta_data - end ====================================================== %>

<h1>New eg post</h1>

<%= render 'form', eg_post: @eg_post, authors_url: authors_eg_posts_url %>

<br>

<div>
  <%= link_to "Back to authors eg posts", authors_eg_posts_path %>
</div>
