          <!-- Primary Navigation
          ============================================= -->
          <nav id="primary-menu">

            <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
              <!--<li><a href="#" data-href="#wrapper"><div>Home</div></a></li>-->
              <li><%= link_to 'Home', root_path %></li>
              <li><a href="#" data-href="#section-about"><div>Perché funziona</div></a></li>
              <li><a href="#" data-href="#section-works"><div>Nuovo a Rebisworld</div></a></li>
              <li><a href="#" data-href="#section-services"><div>La storia</div></a></li>
              <li><a href="#" data-href="#section-blog"><div>Il gioco</div></a></li>
              <li><%= link_to 'Blog', posts_path %></li>
            </ul>

            <div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i class="icon-reorder"></i></a></div>

          </nav><!-- #primary-menu end -->
