<%# == Meta_data ============================================================ %>

<% provide(:html_head_title, "New user") %>

<%# == Meta_data - end ====================================================== %>

<h1>New user</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Back to users", users_path %>
</div>
