<div class="container p-3">
    <div class="row p-2">
        <div class="col-md-8">Main Content</div>
        <div class="col-md-4">Sidebar</div>
    </div>
    <div class="row p-2 text-center">
        <div class="col-md-8">Main Content Row2</div>
        <div class="col-md-4">Sidebar Row2</div>
    </div>
</div>
